.invalidItemsPanel {
    background-color: white;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px #888888;
    z-index: 2000; 
    padding: 7px;
    position: absolute;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}

.uploadingPanel {
    background-color: white;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px #888888;
    z-index: 2000; 
    padding: 7px;
    position: absolute;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}

.uploadingForm {
}

.dialogButtonsPanel {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.invalidItemsDiv {
    height: 300px; 
    overflow: auto; 
    font-size: medium;	
}