.geeFrame {
	background-image: url(../images/geeFrameCol.jpg);
	margin: 0px;
	padding: 0px;
	width: 791px;
	background-repeat: repeat-y;
	background-position: left bottom;
}

.geeFrameHeader {
	background-image: url(../images/geeBanner.jpg);
	background-repeat: no-repeat;
	height: 129px;
	padding-left: 135px;
}

.geeFrameTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #FFFF99;
	text-align: center;
	line-height: 115px;
}

.geeFrameContent {
	padding-left: 135px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.geeFrameFooter {
	background-image: url(../images/geeFrameFoot.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 18px;
}

input.buttons { font-size:12px; } 
