[mysqld]
innodb_file_per_table
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql

# set maximum size of blob, used to upload selftest script 
max_allowed_packet=100M

# Set connection timeouts to 60000 seconds, that is: 41+ hours
interactive_timeout=60000
wait_timeout=60000

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
symbolic-links=0
lower_case_table_names=1

# utf-8
##collation_server = utf8_unicode_ci
##character_set_server = utf8
##skip-character-set-client-handshake


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
