@charset "ISO-8859-1";

.enable{
	font-style:normal;
}

.error{
	color:maroon;
}

#reset{
        position:relative;
}

#login_panel {
	position: absolute;
	left: 50%;
	top:  50%;
	
	width: 400px;
	margin-top: -100px;
	margin-left: -200px;
	padding: 25px 10px 5px 10px;
	
	background-color: #FFFEE6;
	border-radius: 8px;
	box-shadow: 3px 3px 2px #666666;
}

#login_help {
	position: absolute;
	top: 5px;
	right: 5px;
}

form label {
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 10px;
	
	color: #666666;
	font-size: 14pt;
	font-weight: bold;
}

form input[type=text] {
	width: 240px;
	border-radius: 3px;
}

form input[type=password] {
	width: 240px;
	border-radius: 3px;
}

form input[type=button] {
	position: absolute;
	left: 50%;
	margin-top: 20px;
}

body {
	background-color: #999999;
}

#title {
	font-size: 14pt;
	text-align: left;
	color: #666666;
	font-weight: bold;
}

#consortiaName {
    margin-top: 16px;
    margin-bottom: 8px;
}

#applicationName {
    margin-top: 8px;
    margin-bottom: 16px;
}